{{#link-to 'posts'}}Back to the posts list{{/link-to}}
<h3>Post Show</h3>
<strong>{{model.title}}</strong>
<span>{{model.body}}</span>
<div>
  <strong>Comments( {{model.comments.length}} ):</strong>
  {{!#each model.comments as |comment|}}
  {{#each model.comments as |comment|}}
    <div>
      <strong>{{comment.author}} said:</strong>
      <span>{{comment.body}}</span>
      {{link-to 'Edit Comment' 'post.comment.edit' model.id comment.id}}
      <button {{action 'deleteComment' comment}}>Delete Comment</button>
    </div>
  {{/each}}
</div>
<div>{{#link-to 'post.comment.new'}}Add comment{{/link-to}}</div>
